#include "caldera.dtsi"

&kscan0 {
    col-gpios
        = <&nRFMicro 20 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 22 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 24 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 100 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 111 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 20 GPIO_ACTIVE_HIGH>
        ;
};

