#include "caldera.dtsi"

&kscan0 {
    col-gpios
        = <&nRFMicro 020 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 022 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 024 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 100 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 111 GPIO_ACTIVE_HIGH>
        , <&nRFMicro 020 GPIO_ACTIVE_HIGH>
        ;
};

