#include "caldera.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro P0.20 GPIO_ACTIVE_HIGH>
        , <&pro_micro P0.22 GPIO_ACTIVE_HIGH>
        , <&pro_micro P0.24 GPIO_ACTIVE_HIGH>
        , <&pro_micro P1.00 GPIO_ACTIVE_HIGH>
        , <&pro_micro P1.11 GPIO_ACTIVE_HIGH>
        , <&pro_micro 2 GPIO_ACTIVE_HIGH>
        ;
};

